<p></p>

<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://www.pngitem.com/pimgs/m/534-5345666_transparent-background-house-icon-png-png-download-transparent.png" alt="" width="50" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="tvnet">TVNET <img src="https://i.vimeocdn.com/portrait/26977151_300x300" alt="test" width="" height="30"></a></li> 
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="delfi">ZIŅAS <img src="https://p7.hiclipart.com/preview/814/879/626/newspaper-computer-icons-announcement.jpg" alt="" width="" height="23"></a></li>
        <!-- <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="Spineris1"><span style="font-size:30px; color: coral;">SPINNO UZ NEBĒDU</span> <img src="" alt="" width="" height="0"></a></li> -->
        <!-- <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="Spineris1">SPINNO UZ NEBĒDU < img src="https://thumbs.gfycat.com/AnimatedImpureAmericancicada-size_restricted.gif" alt="" width="" height="0"></a></li> -->
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="Spineris1">SPINNO UZ NEBĒDU <img src="https://www.shareicon.net/data/512x512/2015/11/29/679792_arrows_512x512.png" alt="" width="" height="30"> </a></li>
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="fakeinsta">FAKE <img src="https://image.flaticon.com/icons/png/512/87/87390.png" alt="" width="" height="30"> </a></li>
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="iluzija">OPTISKĀ ILŪZIJA <img src="https://www.pinclipart.com/picdir/middle/73-736116_symbol-christian-cross-computer-icons-sign-transparent-background.png" alt="" width="" height="30"> </a></li>
        <li class="nav-item " routerLinkActive="active"><a class="nav-link" routerLink="iluzija">POGA <img src="https://toppng.com/uploads/preview/sewing-button-115309992894xeyntlob8.png" alt="" width="" height="30"> </a></li>
      </ul>
    </div>
  </nav> 
  
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> 