<!-- <p>website works!</p> -->

<a href="http://wtf.tw/ref/robbins.pdf"><p>Learning Web Design</p></a> 

<a href="https://blog.bitsrc.io/10-top-javascript-libraries-and-tools-for-an-awesome-ui-ux-828a314752cc"><p>Learn UI/UX</p></a> 

<a href="https://www.doc-developpement-durable.org/file/Projets-informatiques/cours-&-manuels-informatiques/htm-html-xml-ccs/Sams%20Teach%20Yourself%20HTML,%20CSS,%20and%20JavaScript%20All%20in%20One.pdf"><p>Learn css</p></a> 

<a href="https://edabit.com/challenges "><p>Programming challenges</p></a> 


<!-- <a href="">Learning Web Design </a>  -->

<a href="https://www.edi.lv/studentiem/ "><p>EDI studentiem</p></a> 
<a href="http://lidarview.com/ "><p>Lidar view</p></a> 



<!-- https://forsyslab.com/
https://start.jhipster.tech/
https://start.jhipster.tech/jdl-studio/
https://randomuser.me/photos 
https://generated.photos/
https://www.w3schools.com/css/css3_buttons.asp
https://material.angular.io/components/categories
https://material.io/design/interaction/states.html#anatomy
svelte js
https://medium.com/javascript-in-plain-english/i-created-the-exact-same-app-in-react-and-svelte-here-are-the-differences-c0bd2cc9b3f8 -->
